In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df1 = pd.read_csv('data/tripdata1.csv')
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84776 entries, 0 to 84775
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             84776 non-null  object
 1   rideable_type       84776 non-null  object
 2   started_at          84776 non-null  object
 3   ended_at            84776 non-null  object
 4   start_station_name  84776 non-null  object
 5   start_station_id    84776 non-null  int64
 6   end_station_name    84677 non-null  object
 7   end_station_id      84677 non-null  float64
 8   start_lat           84776 non-null  float64
 9   start_lng           84776 non-null  float64
 10  end_lat             84677 non-null  float64
 11  end_lng             84677 non-null  float64
 12  member_casual       84776 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 8.4+ MB

In [5]:
df2 = pd.read_csv('data/tripdata2.csv')
df3 = pd.read_csv('data/tripdata3.csv')

In [6]:
df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
df.shape

(628055, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628055 entries, 0 to 628054
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             628055 non-null  object
 1   rideable_type       628055 non-null  object
 2   started_at          628055 non-null  object
 3   ended_at            628055 non-null  object
 4   start_station_name  628055 non-null  object
 5   start_station_id    628055 non-null  int64
 6   end_station_name    627167 non-null  object
 7   end_station_id      627167 non-null  float64
 8   start_lat           628055 non-null  float64
 9   start_lng           628055 non-null  float64
 10  end_lat             627167 non-null  float64
 11  end_lng             627167 non-null  float64
 12  member_casual       628055 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 62.3+ MB

In [8]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628055 entries, 0 to 628054
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             628055 non-null  object
 1   rideable_type       628055 non-null  object
 2   started_at          628055 non-null  datetime64[ns]
 3   ended_at            628055 non-null  datetime64[ns]
 4   start_station_name  628055 non-null  object
 5   start_station_id    628055 non-null  int64
 6   end_station_name    627167 non-null  object
 7   end_station_id      627167 non-null  float64
 8   start_lat           628055 non-null  float64
 9   start_lng           628055 non-null  float64
 10  end_lat             627167 non-null  float64
 11  end_lng             627167 non-null  float64
 12  member_casual       628055 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 62.3+ MB

In [10]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [11]:
df['ride_length'] = df['ended_at'] - df['started_at']
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member,0 days 00:26:49
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member,0 days 00:08:09
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member,0 days 00:14:23
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member,0 days 00:12:12
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual,0 days 00:52:55

In [14]:
from datetime import timedelta 
# # Convert total seconds to timedelta
# df['ride_length_td'] = pd.to_timedelta(df['ride_length'].dt.total_seconds(), unit='s')

# # Format the timedelta using datetime.timedelta
# df['ride_length'] = df['ride_length_td'].apply(lambda x: str(timedelta(seconds=x)))

# # Drop the temporary column
# df.drop('ride_length_td', axis=1, inplace=True)
# df['ride_length'] = df['ride_length'].dt.strftime('%H:%M:%S')

In [15]:
df['ride_length'] = df['ride_length'].apply(lambda x: str(x).split(' ')[-1])

In [16]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member,00:26:49
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member,00:08:09
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member,00:14:23
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member,00:12:12
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual,00:52:55

In [17]:
# df.to_csv('final_data.csv')

In [18]:
# df['ride_length'] = pd.to_datetime(df['ride_length'])
# df.info()
# Output: ParserError: Unknown string format: +23:59:48 present at position 2422

In [19]:
# check for values that don’t match the format: X days hh:mm:ss.
invalid_rows = df[~df['ride_length'].str.match(r'^\d+\s*days?\s*\d{2}:\d{2}:\d{2}$', na=False)]
print(invalid_rows)

                 ride_id rideable_type          started_at  \
0       A847FADBBC638E45   docked_bike 2020-04-26 17:45:14
1       5405B80E996FF60D   docked_bike 2020-04-17 17:08:54
2       5DD24A79A4E006F4   docked_bike 2020-04-01 17:54:13
3       2A59BBDF5CDBA725   docked_bike 2020-04-07 12:50:19
4       27AD306C119C6158   docked_bike 2020-04-18 10:22:59
...                  ...           ...                 ...
628050  52FD068FC638E369   docked_bike 2020-06-23 07:34:49
628051  E1263EE99DA7CC71   docked_bike 2020-06-13 14:23:02
628052  BCDB84E21D8509D3   docked_bike 2020-06-16 16:55:53
628053  AE90AFD2AD1384B1   docked_bike 2020-06-24 16:12:23
628054  998C129DBA742467   docked_bike 2020-06-06 15:21:50

                  ended_at            start_station_name  start_station_id  \
0      2020-04-26 18:12:03                  Eckhart Park                86
1      2020-04-17 17:17:03     Drake Ave & Fullerton Ave               503
2      2020-04-01 18:08:36          McClurg Ct & Erie St               142
3      2020-04-07 13:02:31  California Ave & Division St               216
4      2020-04-18 11:15:54          Rush St & Hubbard St               125
...                    ...                           ...               ...
628050 2020-06-23 07:58:57     Western Ave & Division St               305
628051 2020-06-13 14:45:20       Broadway & Cornelia Ave               303
628052 2020-06-16 17:12:42      Kingsbury St & Kinzie St               133
628053 2020-06-24 16:24:56       Canal St & Jackson Blvd                75
628054 2020-06-06 15:43:45             Wells St & Elm St               182

                      end_station_name  end_station_id  start_lat  start_lng  \
0          Lincoln Ave & Diversey Pkwy           152.0  41.896400 -87.661000
1                      Kosciuszko Park           499.0  41.924400 -87.715400
2           Indiana Ave & Roosevelt Rd           255.0  41.894500 -87.617900
3               Wood St & Augusta Blvd           657.0  41.903000 -87.697500
4           Sheridan Rd & Lawrence Ave           323.0  41.890200 -87.626200
...                                ...             ...        ...        ...
628050         Canal St & Jackson Blvd            75.0  41.902893 -87.687275
628051           Wells St & Concord Ln           289.0  41.945529 -87.646439
628052          Clark St & Lincoln Ave           141.0  41.889176 -87.638505
628053    Stetson Ave & South Water St           264.0  41.877245 -87.639366
628054  Sheffield Ave & Wellington Ave           115.0  41.903222 -87.634324

          end_lat    end_lng member_casual ride_length
0       41.932200 -87.658600        member    00:26:49
1       41.930600 -87.723800        member    00:08:09
2       41.867900 -87.623000        member    00:14:23
3       41.899200 -87.672200        member    00:12:12
4       41.969500 -87.654700        casual    00:52:55
...           ...        ...           ...         ...
628050  41.877245 -87.639366        member    00:24:08
628051  41.912133 -87.634656        casual    00:22:18
628052  41.915689 -87.634600        casual    00:16:49
628053  41.886835 -87.622320        casual    00:12:33
628054  41.936266 -87.652662        casual    00:21:55

[628055 rows x 14 columns]

In [20]:
# Replace '+' prefixed times with '0 days' format
df['ride_length'] = df['ride_length'].str.replace(r'^\+', '0 days ', regex=True)

# Re-check the column for other anomalies
invalid_rows = df[~df['ride_length'].str.match(r'^\d+\s*days?\s*\d{2}:\d{2}:\d{2}$', na=False)]
print(invalid_rows)

                 ride_id rideable_type          started_at  \
0       A847FADBBC638E45   docked_bike 2020-04-26 17:45:14
1       5405B80E996FF60D   docked_bike 2020-04-17 17:08:54
2       5DD24A79A4E006F4   docked_bike 2020-04-01 17:54:13
3       2A59BBDF5CDBA725   docked_bike 2020-04-07 12:50:19
4       27AD306C119C6158   docked_bike 2020-04-18 10:22:59
...                  ...           ...                 ...
628050  52FD068FC638E369   docked_bike 2020-06-23 07:34:49
628051  E1263EE99DA7CC71   docked_bike 2020-06-13 14:23:02
628052  BCDB84E21D8509D3   docked_bike 2020-06-16 16:55:53
628053  AE90AFD2AD1384B1   docked_bike 2020-06-24 16:12:23
628054  998C129DBA742467   docked_bike 2020-06-06 15:21:50

                  ended_at            start_station_name  start_station_id  \
0      2020-04-26 18:12:03                  Eckhart Park                86
1      2020-04-17 17:17:03     Drake Ave & Fullerton Ave               503
2      2020-04-01 18:08:36          McClurg Ct & Erie St               142
3      2020-04-07 13:02:31  California Ave & Division St               216
4      2020-04-18 11:15:54          Rush St & Hubbard St               125
...                    ...                           ...               ...
628050 2020-06-23 07:58:57     Western Ave & Division St               305
628051 2020-06-13 14:45:20       Broadway & Cornelia Ave               303
628052 2020-06-16 17:12:42      Kingsbury St & Kinzie St               133
628053 2020-06-24 16:24:56       Canal St & Jackson Blvd                75
628054 2020-06-06 15:43:45             Wells St & Elm St               182

                      end_station_name  end_station_id  start_lat  start_lng  \
0          Lincoln Ave & Diversey Pkwy           152.0  41.896400 -87.661000
1                      Kosciuszko Park           499.0  41.924400 -87.715400
2           Indiana Ave & Roosevelt Rd           255.0  41.894500 -87.617900
3               Wood St & Augusta Blvd           657.0  41.903000 -87.697500
4           Sheridan Rd & Lawrence Ave           323.0  41.890200 -87.626200
...                                ...             ...        ...        ...
628050         Canal St & Jackson Blvd            75.0  41.902893 -87.687275
628051           Wells St & Concord Ln           289.0  41.945529 -87.646439
628052          Clark St & Lincoln Ave           141.0  41.889176 -87.638505
628053    Stetson Ave & South Water St           264.0  41.877245 -87.639366
628054  Sheffield Ave & Wellington Ave           115.0  41.903222 -87.634324

          end_lat    end_lng member_casual ride_length
0       41.932200 -87.658600        member    00:26:49
1       41.930600 -87.723800        member    00:08:09
2       41.867900 -87.623000        member    00:14:23
3       41.899200 -87.672200        member    00:12:12
4       41.969500 -87.654700        casual    00:52:55
...           ...        ...           ...         ...
628050  41.877245 -87.639366        member    00:24:08
628051  41.912133 -87.634656        casual    00:22:18
628052  41.915689 -87.634600        casual    00:16:49
628053  41.886835 -87.622320        casual    00:12:33
628054  41.936266 -87.652662        casual    00:21:55

[627363 rows x 14 columns]

In [21]:
# convert to timedelta instead of datetime
df['ride_length'] = pd.to_timedelta(df['ride_length'], errors='coerce')

# Check for rows that failed conversion
print(df[df['ride_length'].isna()])

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, ride_length]
Index: []

In [22]:
# Drop invalid rows
df = df.dropna(subset=['ride_length'])

# Or replace NaT with a default value (e.g., 0)
df['ride_length'] = df['ride_length'].fillna(pd.Timedelta(seconds=0))

In [23]:
print(df['ride_length'].head())
print(df.info())

0   0 days 00:26:49
1   0 days 00:08:09
2   0 days 00:14:23
3   0 days 00:12:12
4   0 days 00:52:55
Name: ride_length, dtype: timedelta64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628055 entries, 0 to 628054
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             628055 non-null  object
 1   rideable_type       628055 non-null  object
 2   started_at          628055 non-null  datetime64[ns]
 3   ended_at            628055 non-null  datetime64[ns]
 4   start_station_name  628055 non-null  object
 5   start_station_id    628055 non-null  int64
 6   end_station_name    627167 non-null  object
 7   end_station_id      627167 non-null  float64
 8   start_lat           628055 non-null  float64
 9   start_lng           628055 non-null  float64
 10  end_lat             627167 non-null  float64
 11  end_lng             627167 non-null  float64
 12  member_casual       628055 non-null  object
 13  ride_length         628055 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(5), int64(1), object(5), timedelta64[ns](1)
memory usage: 67.1+ MB
None

In [24]:
df.shape

(628055, 14)

In [25]:
# Createacolumncaledday_of_week,andcalculate the day of the weekthat eachride
#  started using the WEEKDAY command(for example, =WEEKDAY(C2,1)) in each le.
#  Format as General or as a numberwith nodecimals, noting that 1 = Sunday and 7 =
#  Saturday.
# Done using excel

In [26]:
df = pd.read_csv('final_data.csv')
df.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,0,A847FADBBC638E45,docked_bike,26-04-2020 17:45,26-04-2020 18:12,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member,00:26:49,1
1,1,5405B80E996FF60D,docked_bike,17-04-2020 17:08,17-04-2020 17:17,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member,00:08:09,6
2,2,5DD24A79A4E006F4,docked_bike,01-04-2020 17:54,01-04-2020 18:08,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member,00:14:23,4
3,3,2A59BBDF5CDBA725,docked_bike,07-04-2020 12:50,07-04-2020 13:02,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member,00:12:12,3
4,4,27AD306C119C6158,docked_bike,18-04-2020 10:22,18-04-2020 11:15,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual,00:52:55,7

In [27]:
df.describe()

,Unnamed: 0,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,day_of_week
count,628055.000000,628055.000000,627167.000000,628055.000000,628055.000000,627167.000000,627167.000000,628055.000000
mean,314027.000000,230.001747,231.557746,41.907320,-87.646998,41.907538,-87.647363,4.173918
std,181304.005995,157.738219,159.372800,0.042723,0.025270,0.042840,0.025348,2.158478
min,0.000000,2.000000,2.000000,41.736600,-87.774704,41.736600,-87.774704,1.000000
25%,157013.500000,110.000000,110.000000,41.884241,-87.661500,41.884241,-87.662400,2.000000
50%,314027.000000,208.000000,210.000000,41.903000,-87.644100,41.903119,-87.644336,4.000000
75%,471040.500000,317.000000,319.000000,41.932400,-87.629634,41.932588,-87.629900,6.000000
max,628054.000000,673.000000,674.000000,42.064900,-87.549386,42.064900,-87.549386,7.000000

In [28]:
#Some rows are in the wrong format

In [29]:
# Check for rows that are not in the correct timedelta format
invalid_rows = df[~df['ride_length'].apply(lambda x: isinstance(x, pd.Timedelta))]
print(invalid_rows)

        Unnamed: 0           ride_id rideable_type        started_at  \
0                0  A847FADBBC638E45   docked_bike  26-04-2020 17:45
1                1  5405B80E996FF60D   docked_bike  17-04-2020 17:08
2                2  5DD24A79A4E006F4   docked_bike  01-04-2020 17:54
3                3  2A59BBDF5CDBA725   docked_bike  07-04-2020 12:50
4                4  27AD306C119C6158   docked_bike  18-04-2020 10:22
...            ...               ...           ...               ...
628050      628050  52FD068FC638E369   docked_bike  23-06-2020 07:34
628051      628051  E1263EE99DA7CC71   docked_bike  13-06-2020 14:23
628052      628052  BCDB84E21D8509D3   docked_bike  16-06-2020 16:55
628053      628053  AE90AFD2AD1384B1   docked_bike  24-06-2020 16:12
628054      628054  998C129DBA742467   docked_bike  06-06-2020 15:21

                ended_at            start_station_name  start_station_id  \
0       26-04-2020 18:12                  Eckhart Park                86
1       17-04-2020 17:17     Drake Ave & Fullerton Ave               503
2       01-04-2020 18:08          McClurg Ct & Erie St               142
3       07-04-2020 13:02  California Ave & Division St               216
4       18-04-2020 11:15          Rush St & Hubbard St               125
...                  ...                           ...               ...
628050  23-06-2020 07:58     Western Ave & Division St               305
628051  13-06-2020 14:45       Broadway & Cornelia Ave               303
628052  16-06-2020 17:12      Kingsbury St & Kinzie St               133
628053  24-06-2020 16:24       Canal St & Jackson Blvd                75
628054  06-06-2020 15:43             Wells St & Elm St               182

                      end_station_name  end_station_id  start_lat  start_lng  \
0          Lincoln Ave & Diversey Pkwy           152.0  41.896400 -87.661000
1                      Kosciuszko Park           499.0  41.924400 -87.715400
2           Indiana Ave & Roosevelt Rd           255.0  41.894500 -87.617900
3               Wood St & Augusta Blvd           657.0  41.903000 -87.697500
4           Sheridan Rd & Lawrence Ave           323.0  41.890200 -87.626200
...                                ...             ...        ...        ...
628050         Canal St & Jackson Blvd            75.0  41.902893 -87.687275
628051           Wells St & Concord Ln           289.0  41.945529 -87.646439
628052          Clark St & Lincoln Ave           141.0  41.889176 -87.638505
628053    Stetson Ave & South Water St           264.0  41.877245 -87.639366
628054  Sheffield Ave & Wellington Ave           115.0  41.903222 -87.634324

          end_lat    end_lng member_casual ride_length  day_of_week
0       41.932200 -87.658600        member    00:26:49            1
1       41.930600 -87.723800        member    00:08:09            6
2       41.867900 -87.623000        member    00:14:23            4
3       41.899200 -87.672200        member    00:12:12            3
4       41.969500 -87.654700        casual    00:52:55            7
...           ...        ...           ...         ...          ...
628050  41.877245 -87.639366        member    00:24:08            3
628051  41.912133 -87.634656        casual    00:22:18            7
628052  41.915689 -87.634600        casual    00:16:49            3
628053  41.886835 -87.622320        casual    00:12:33            4
628054  41.936266 -87.652662        casual    00:21:55            7

[628055 rows x 16 columns]

In [30]:
df['ride_length'] = pd.to_timedelta(df['ride_length'], errors='coerce')

In [31]:
#drop rows with invalid values
df = df.dropna(subset=['ride_length'])

In [32]:
#fill missing values with default timedelta values
df['ride_length'] = df['ride_length'].fillna(pd.Timedelta(0))

In [33]:
mean_ride_length = df['ride_length'].mean()
print(f"Mean Ride Length: {mean_ride_length}")

Mean Ride Length: 0 days 00:30:49.592991059

In [34]:
seconds = mean_ride_length.total_seconds()
hours = seconds // 3600
minutes = seconds % 3600 // 60
decimal_minutes = (seconds % 3600) / 60  

decimal_minutes_fraction = decimal_minutes - minutes
seconds_remaining = round(decimal_minutes_fraction * 60)

print(f"Mean ride length: {hours:.0f} hours {minutes:.0f} minutes {seconds_remaining:.0f} seconds")

Mean ride length: 0 hours 30 minutes 50 seconds

In [35]:
df['ride_length'].max()

Timedelta('0 days 23:59:59')

In [36]:
df['day_of_week'].mode()[0]

7

In [37]:
df['ride_length'].max()

Timedelta('0 days 23:59:59')

In [40]:
df['day_of_week'].mode()
# 0 = sunday, 7 = saturday

0    7
Name: day_of_week, dtype: int64

In [43]:
df.iloc[1366]

Unnamed: 0                             1366
ride_id                    5561AAFB6A2A9B2D
rideable_type                   docked_bike
started_at                 03-04-2020 17:42
ended_at                   03-04-2020 18:36
start_station_name    Dearborn St & Erie St
start_station_id                        110
end_station_name      Dearborn St & Erie St
end_station_id                        110.0
start_lat                            41.894
start_lng                          -87.6293
end_lat                              41.894
end_lng                            -87.6293
member_casual                        casual
ride_length                 0 days 00:54:08
day_of_week                               6
Name: 1366, dtype: object

In [44]:
df.iloc[1365, df.columns.get_loc('end_station_id')] = 110

In [45]:
df.iloc[1366]

Unnamed: 0                             1366
ride_id                    5561AAFB6A2A9B2D
rideable_type                   docked_bike
started_at                 03-04-2020 17:42
ended_at                   03-04-2020 18:36
start_station_name    Dearborn St & Erie St
start_station_id                        110
end_station_name      Dearborn St & Erie St
end_station_id                        110.0
start_lat                            41.894
start_lng                          -87.6293
end_lat                              41.894
end_lng                            -87.6293
member_casual                        casual
ride_length                 0 days 00:54:08
day_of_week                               6
Name: 1366, dtype: object

**Using sql in Python**

In [70]:
import duckdb
# Convert timedelta to seconds
df['ride_length_seconds'] = df['ride_length'].dt.total_seconds()

# SQL query with DuckDB
query = """
SELECT member_casual, AVG(ride_length_seconds) AS avg_ride_length_seconds
FROM df
GROUP BY member_casual
"""

# Execute the query
result = duckdb.query(query).df()
# Convert seconds to minutes and seconds
#result['avg_ride_length_minutes'] = (result['avg_ride_length_seconds'] // 60).astype(int)
#result['avg_ride_length_secs'] = (result['avg_ride_length_seconds'] % 60).round(2)

# Drop unnecessary columns if needed
#result = result[['member_casual', 'avg_ride_length_minutes', 'avg_ride_length_secs']]

#print(result)

def convert_seconds_to_minutes_and_format(df, column_name):
    """
    Converts a column of seconds to a formatted string of 'X minutes Y secs'.
    
    Args:
    - df: The DataFrame containing the column to convert.
    - column_name: The name of the column that contains the time in seconds.
    
    Returns:
    - The DataFrame with an additional column containing the formatted time.
    """
    # Convert seconds to minutes and seconds
    df['minutes'] = (df[column_name] // 60).astype(int)
    df['secs'] = (df[column_name] % 60).round(2)
    
    # Combine minutes and seconds into a single formatted string
    df['formatted_time'] = df['minutes'].astype(str) + " minutes " + df['secs'].astype(str) + " secs"
    
    # Drop intermediate columns ('minutes' and 'secs')
    df.drop(['minutes', 'secs'], axis=1, inplace=True)
    
    return df
    
result = convert_seconds_to_minutes_and_format(result, 'avg_ride_length_seconds')
print(result)

  member_casual  avg_ride_length_seconds         formatted_time
0        casual              2707.095071    45 minutes 7.1 secs
1        member              1222.645047  20 minutes 22.65 secs

In [73]:
query = "SELECT member_casual,day_of_week,AVG(ride_length_seconds) AS avg_ride_length_secs FROM df GROUP BY member_casual, day_of_week ORDER BY member_casual, day_of_week"

result = duckdb.query(query).df()

result = convert_seconds_to_minutes_and_format(result, 'avg_ride_length_secs')

print(result)

   member_casual  day_of_week  avg_ride_length_secs         formatted_time
0         casual            1           2952.106738  49 minutes 12.11 secs
1         casual            2           2757.732655  45 minutes 57.73 secs
2         casual            3           2640.350996   44 minutes 0.35 secs
3         casual            4           2518.282004  41 minutes 58.28 secs
4         casual            5           2574.148309  42 minutes 54.15 secs
5         casual            6           2586.360136   43 minutes 6.36 secs
6         casual            7           2721.068431  45 minutes 21.07 secs
7         member            1           1325.837712   22 minutes 5.84 secs
8         member            2           1182.014898  19 minutes 42.01 secs
9         member            3           1167.821712  19 minutes 27.82 secs
10        member            4           1180.078126  19 minutes 40.08 secs
11        member            5           1166.702744   19 minutes 26.7 secs
12        member            6           1188.599393   19 minutes 48.6 secs
13        member            7           1301.441897  21 minutes 41.44 secs

In [74]:
df.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,ride_length_seconds
0,0,A847FADBBC638E45,docked_bike,26-04-2020 17:45,26-04-2020 18:12,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member,0 days 00:26:49,1,1609.0
1,1,5405B80E996FF60D,docked_bike,17-04-2020 17:08,17-04-2020 17:17,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member,0 days 00:08:09,6,489.0
2,2,5DD24A79A4E006F4,docked_bike,01-04-2020 17:54,01-04-2020 18:08,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member,0 days 00:14:23,4,863.0
3,3,2A59BBDF5CDBA725,docked_bike,07-04-2020 12:50,07-04-2020 13:02,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member,0 days 00:12:12,3,732.0
4,4,27AD306C119C6158,docked_bike,18-04-2020 10:22,18-04-2020 11:15,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual,0 days 00:52:55,7,3175.0

In [81]:
def excecute_query(query,df):
    result = duckdb.query(query).df()
    print(result)

In [86]:
q = "select day_of_week, count(ride_id), from df group by day_of_week"
excecute_query(q,df)

   day_of_week  count(ride_id)
0            7          132268
1            6           86142
2            3           76044
3            2           71366
4            1          107476
5            4           73413
6            5           81346

In [85]:
q = "select distinct day_of_week from df"
excecute_query(q,df)

   day_of_week
0            1
1            7
2            5
3            2
4            6
5            3
6            4